<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>{{ .Title }}</title>

   <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">

   <link rel="icon" type="image/x-icon" href="/favicon/fl3pp.ico">

   {{ $style := resources.Get "scss/style.scss" | toCSS | minify }}
   <link rel="stylesheet" href="{{ $style.RelPermalink }}">

   <link href="/fonts/jetbrains-mono.css" rel="stylesheet">
   <link href="/fonts/noto-serif.css" rel="stylesheet">
</head>
<body>
   <div id="container">
      {{ partial "navigation.html" . }}

      <div class="main">
      {{ block "main" . }}
      {{ end }}
      </div>

      {{ partial "footer.html" . }}
   </div>

   {{ readFile "/assets/js/dl-separation.js" | safeHTML }}
   {{ readFile "/assets/js/toc.js" | safeHTML }}
   {{ partial "cookie-banner.html" . }}
</body>
</html>