{{ define "main" }}

   {{ .Content }}
   <p>
      <b>Hey there!</b>
      This is my private corner of the internet. I use it to irregularly post excerpts of anything that I find interesting, useful and worth sharing both privately and professionally.
   </p>

   {{ $softwarePosts := where .Site.RegularPages "Section" "software" }}
   {{ $bookReviews := where .Site.RegularPages "Section" "books" }}
   {{ $guidePosts := where .Site.RegularPages "Section" "random-guides" }}
   {{ $allPosts := collections.Sort (collections.Union $bookReviews (collections.Union $softwarePosts $guidePosts)) "Date" }}
   {{ $featuredPosts := where $allPosts ".Params.featured" true }}

   <div class="link-lists">

      {{ if compare.Ge (len $featuredPosts) 1 }}
         <h2>Featured</h2>
         <ul class="link-list">
            {{ range $featuredPosts }}
               <li>{{ partial "link-single.html" . }}</li>
            {{ end }}
         </ul>
      {{ end }}

      <a href="{{ (site.GetPage "/software").Permalink }}" style="text-decoration: none;">
         <h2>Software & Engineering</h2>
      </a>

      {{ with .Site.GetPage "/software" }}
         {{ .Content }}
      {{ end }}

      <ul class="link-list">
         {{ range collections.First 10 $softwarePosts }}
            <li>{{ partial "link-single.html" . }}</li>
         {{ end }}
         <li><a href="{{ (site.GetPage "/software").Permalink }}">more...</a></li>
      </ul>

      <a href="{{ (site.GetPage "/books").Permalink }}" style="text-decoration: none;">
         <h2>Book Reviews</h2>
      </a>

      {{ with .Site.GetPage "/books" }}
         {{ .Content }}
      {{ end }}

      <ul class="link-list">
         {{ range collections.First 5 $bookReviews }}
            <li>{{ partial "link-single.html" . }}</li>
         {{ end }}
         <li><a href="{{ (site.GetPage "/books").Permalink }}">more...</a></li>
      </ul>

      <a href="{{ (site.GetPage "/random-guides").Permalink }}" style="text-decoration: none;">
         <h2>Random Guides</h2>
      </a>

      {{ with .Site.GetPage "/random-guides" }}
         {{ .Content }}
      {{ end }}

      <ul class="link-list">
         {{ range collections.First 5 $guidePosts }}
            <li>{{ partial "link-single.html" . }}</li>
         {{ end }}
         <li><a href="{{ (site.GetPage "/random-guides").Permalink }}">more...</a></li>
      </ul>
   </div>
{{ end }}
