{{ define "main" }}

   {{ .Content }}

   {{ $allPages := where .Site.AllPages "IsPage" true }}
   {{ $bookReviews := where $allPages "Type" "books" }}
   {{ $regularPosts := where $allPages "Type" "posts" }}
   {{ $allPosts := collections.Sort (collections.Union $bookReviews $regularPosts) "Date" }}
   {{ $featuredPosts := where $regularPosts ".Params.featured" true }}

   <div class="link-lists">

      {{ if compare.Ge (len $featuredPosts) 1 }}
         <h2>Featured</h2>
         <ul class="link-list">
            {{ range $featuredPosts }}
               <li>{{ partial "link-single.html" . }}</li>
            {{ end }}
         </ul>
      {{ end }}

      <h2>Latest</h2>
      <ul class="link-list">
         {{ range (where (collections.First 10 $regularPosts) ".Params.hideFromLatest" "ne" true) }}
            <li>{{ partial "link-single.html" . }}</li>
         {{ end }}
         <li><a href="{{ (site.GetPage "/posts").Permalink }}">more...</a></li>
      </ul>

      <h2>Tags</h2>
      {{ range collections.Sort .Site.Taxonomies.tags ".Count" "desc" }}
         <a class="tag-link" href="{{ .Page.Permalink }}"><b><code>#</code>{{ .Page.Title }}</b><span class="lighter">({{ .Count  }})</span></a>
      {{ end }}

      <h2>Book Reviews</h2>
      <ul class="link-list">
         {{ range collections.First 5 $bookReviews }}
            <li>{{ partial "link-single.html" . }}</li>
         {{ end }}
         <li><a href="{{ (site.GetPage "/books").Permalink }}">more...</a></li>
      </ul>
   </div>
{{ end }}
