{{ define "main" }}
   {{ partial "table-of-contents.html" . }}

   <h1 class="post-title">{{ .Title }}</h1>
   {{ partial "metadata-list.html" . }}
   <p class="post-subtitle">{{ .Params.Subtitle }}</p>
   
	{{ .Content }}


   <script src="https://giscus.app/client.js"
        data-repo="fl3pp/blog"
        data-repo-id="R_kgDON6lUyg"
        data-category="Blog Comments"
        data-category-id="DIC_kwDON6lUys4CndYg"
        data-mapping="url"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{ end }}