{{ $suite := .Get "suite" }}
{{ $rank := .Get "rank" }}
{{ $captionAbove := .Get "captionAbove" }}
{{ $caption := .Get "caption" }}
{{ $order := .Get "order" }}
{{ $imagePath := printf "/playing-cards/STANDARD-BORDERED/%[1]s-%[2]s.svg" $suite $rank }}

<style>
.card-corner {
  width: 2.5em;
  height: 4em;

  border: 1px solid #000;

  overflow: hidden;

  border-radius: 0.5em 0 0 0;
  position: relative;

  margin-left: auto;
  margin-right: auto;
}

.card-corner img {
  width: 11em;
  height: auto;
  display: block;

  position: absolute;
  top: 0;
  left: 0;
}

.card-corner .card-order {
  position: absolute;
  top: -.15em;
  left: 1.3em;

  width: .9em;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 0 0 0 .4em;

  font-size: 1.2em;
  font-weight: bold;
}

.card-caption {
   height: 1.3em;
   text-align: center;
}
</style>

<div>
   <div class="card-caption">
   {{ if $captionAbove }}
         {{ $captionAbove | markdownify }}
   {{ end }}
   </div>
   <div class="card-corner">
      <img src="{{ $imagePath }}" alt="{{ $rank }} of {{ $suite }}">
      {{ if $order }}
         <div class="card-order">
            {{ $order }}
         </div>
      {{ end }}
   </div>
   <div class="card-caption">
   {{ if $caption }}
         {{ $caption | markdownify }}
   {{ end }}
   </div>
</div>
